interactions:
- request:
    body: grant_type=refresh_token&refresh_token=refreshtokengoeshere
    headers:
      Authorization: [Basic Y2xpZW50aWQ6Y2xpZW50c2VjcmV0]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/oauth2/token/
  response:
    body: {string: '{"scope": "american-gut read wildlife open-humans write pgp go-viral",
        "access_token": "newaccesstoken", "token_type": "Bearer",
        "expires_in": 36000, "refresh_token": "newrefreshtoken"}'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
