interactions:
- request:
    body: redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fauthorize_openhumans%2F&code=CODE&grant_type=authorization_code
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      Authorization: [XXXXXXXX]
    method: POST
    uri: https://www.openhumans.org/oauth2/token/
  response:
    body: {string: '{"expires_in": 36000, "refresh_token": "returnedrefreshtoken",
        "scope": "american-gut read wildlife open-humans write pgp go-viral",
        "token_type": "Bearer", "access_token": "returnedaccesstoken"}'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
