interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/members/?access_token=ACCESSTOKEN
  response:
    body: {string: '{"count":3,"next":null,"previous":null,"results":[{"created":"date1","project_member_id":"PMI1","message_permission":true,"sources_shared":[],"username":"User1","data":[]},{"created":"date2","project_member_id":"PMI2","message_permission":true,"sources_shared":[],"username":"user2","data":[{}]},{"created":"date3","project_member_id":"PMI3","message_permission":true,"sources_shared":[],"username":"user3","data":[{}]}]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Mon, 19 Mar 2018 05:53:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/members/?access_token=ACCESSTOKEN
  response:
    body: {string: '{"count":3,"next":null,"previous":null,"results":[{"created":"date1","project_member_id":"PMI1","message_permission":true,"sources_shared":[],"username":"User1","data":[]},{"created":"date2","project_member_id":"PMI2","message_permission":true,"sources_shared":[],"username":"user2","data":[{}]},{"created":"date3","project_member_id":"PMI3","message_permission":true,"sources_shared":[],"username":"user3","data":[{}]}]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Mon, 19 Mar 2018 05:53:07 GMT']
    status: {code: 200, message: OK}
version: 1
