interactions:
- request:
    body: refresh_token=REFRESHTOKEN&grant_type=refresh_token
    headers:
      Authorization: [XXXXXXXX]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/oauth2/token/
  response:
    body: {string: '{"expires_in": 36000, "refresh_token": "newrefreshtoken",
        "scope": "american-gut read wildlife open-humans write pgp go-viral", "token_type":
        "Bearer", "access_token": "newaccesstoken"}'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
